.manual h3{
  background-color: #6B1C23;
  padding : 15px;
  color: white;
}

.manual div.exemple{
  margin: auto;
  width: 80%;
  padding: 15px;
  background-color: rgba(236,243,250,0.6);
}

.manual span.livre{
  color: #F4B183;
  font-weight: bold;
}

.manual span.paragraphe{
  color: #C48170;
  font-weight: bold;
}

.manual span.phrase{
  color: #D2B8C7;
  font-weight: bold;
}

.manual span.numLivre{
  background-color: #F4B183;
}

.manual span.encodeur{
  background-color: #90f4a6;
}

.manual span.commentateur{
  background-color: lightpink;
}
.manual span.numCommentaire{
 background-color: lightblue;
}

.manual span.chevron{
  color: #517495;
}

.manual span.balise{
  color: #1f4e79;
}

.manual span.att{
  color: #c55a11;
}

.manual span.attV{
  color: #990000;
}

.manual td, .manual th{
  vertical-align: middle;
}

.manual span.important{
  color: #F4B183;
  font-weight: bold;
}

.manual code{
  background-color: #fcddf4;
  color: #434643;
}

.manual div.sidebar-sticky a:hover{
  color : #434643;
  background-color: White;
}

.manual div.sidebar-sticky a:focus{
  color : #6B1C23;
  background-color: White;
}

.manual ul.list-person li{
    margin-bottom: 3px;
}
.manual ul.list-person li span{
    font-size: smaller;
}
