{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Le lab' des commentateurs{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">
      
      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_people#listCommentators">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  Liste des commentateurs
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_people#timelineCommentators">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  Frise chronologique des commentateurs
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_cit#idea">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                  D'autres idées ?
                </a>
              </h5>
            </li>
          </ul>
        </div>
      </div>
      <div id="listCommentators" class="row anchor">
        <div class="col">
          <h3>Liste des commentateurs</h3>
          {% include "html/listCommentators.html" %}
        </div>
      </div>
      <div id="timelineCommentators" class="row anchor">
        <div class="col">
          <h3>Frise chronologique des commentateurs</h3>
          {% include "html/timelineCommentators.html" %}
        </div>
      </div>
      <div id="idea" class="row anchor">
        <div class="col">
          <h3>Idées ?</h3>
          <i>Si vous avez d'autres besoins ou idées de visualisations, n'hésitez pas à me contacter. AnneGF</i>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
