{% extends "base.html.twig" %}

{% block title %}Tacitus on line - L'édition{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
          <li class="nav-item">
            <h5>
              <a class="nav-link" href="?page=edition#publication">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Publication et diffusion
              </a>
            </h5>
          </li><li class="nav-item">
            <h5>
              <a class="nav-link" href="?page=edition#principles">
                <i class="fa fa-leaf" aria-hidden="true"></i>
                Principes éditoriaux
              </a>
            </h5>
          </li><li class="nav-item">
            <h5>
              <a class="nav-link" href="?page=iiif_viewer">
                <i class="fa fa-book" aria-hidden="true"></i>
                Feuilleter l'édition de 1608
              </a>
            </h5>
          </li>
                    </li><li class="nav-item">
            <h5>
              <a class="nav-link" href="?page=edition#inventory">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                Inventaire des facsimilés
              </a>
            </h5>
          </li>
          </ul>
        </div>
      </div>
      <div id="publication" class="row anchor">
        <div class="col">
        <h3>Publication, diffusion et sources des données</h3>
          {% include "html/editorial_edition_publication.html" %}
          {% include "html/editorial_edition_source.html" %}
        </div>
      </div>
      <div id="principles" class="row anchor">
        <div class="col">
        <h3>Principes éditoriaux</h3>
          {% include "html/editorial_edition_principles.html" %}
        </div>
      </div>
      <div id="inventory" class="row anchor">
        <div class="col">
        <h3>Inventaire des facsimilés</h3>
          {% include "html/inventory.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
