<nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
  
		<!-- nav-box -->
		<div id="nav-box">
			<div class="alert alert-dark">
				<div id="nav-title">Commentaire</div>
				<div id="nav-counter">
					<span id="nav-position">1</span>
					sur
					<span id="nav-length">X</span>
					<i id="nav-expan" status="off" class="fa fa-toggle-off" onclick="navigate.expanAll()" title="Ouvrir tous les commentaires"></i>
					<i id="nav-collapse" status="on" class="fa fa-toggle-on d-none" onclick="navigate.collapseAll()" title="Fermer tous les commentaires"></i>
				</div>
				<div id="nav-arrows">
					<span id="nav-previous" onclick="navigate.previous()" class="btn btn-dark">&lt;</span>
					<span id="nav-next" onclick="navigate.next()" class="btn btn-dark">&gt;</span>
				</div>
			</div>
		</div>
		<!-- end nav-box -->

		<ul id="sidebar-content" class="flex-column">
		  <h6 id="reset-filters" class="sidebar-heading">
		    <span>Réinitialiser les filtres</span>
		    <button id="disable-btns" type="button" class="btn btn-sm btn-secondary">
		      <i class="fa fa-eraser" aria-hidden="true"></i>
		    </button>
		  </h6>
		  
      <h6 id="paragraph" class="sidebar-heading">
        Paragraphes
        <i class="fa fa-info-circle" title="Utiliser la même syntaxe que pour imprimer un ensemble définis de pages. Par exemple, '8-10,12,14-16' affichera les paragraphes 8 à 10, 12 et 14 à 16."></i> 
        <div id="filterParagraphs-wrapper" class="float-right">
          <div class="input-group">
            <input id="filterParagraphs"/>
            <div class="input-group-append">
              <button id="doFilterParagraphs" onclick="filter.showTargetOnly();" type="button" class="btn-view btn-sm btn btn-outline-secondary">
                OK
              </button>
            </div>
          </div>
        </div>
      </h6>
      
      <h6 id="view" class="sidebar-heading">Vue
        <div class="btn-group btn-group-toggle float-right">
          <button id="viewAllParagraph" type="button" class="btn-view btn btn-sm btn-outline-secondary" status="on" data-theme="secondary">
            <small>Complète</small>
          </button>
          <button id="viewCommentedParagraph" type="button" class="btn-view btn btn-sm btn-outline-secondary" status="off" data-theme="secondary">
            <small>Réduite</small>
          </button>
        </div>
      </h6>

      <h6 id="operator-wrapper" class="sidebar-heading">Opérateur
        <div id="operator" onclick="navigate.init()" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-secondary active">
            <input type="radio" value="and" name="operator"/>
            <small>ET</small>
          </label>
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" value="or" name="operator"/>
            <small>OU</small>
          </label>
        </div>
      </h6>

      <h6 class="sidebar-heading">Commentateurs</h6>
      <div class="btn-group-vertical col-12">
        {% include "html/liber#{liber|default('1')}_filtersCommentators.html" %}
      </div>

      <h6 class="sidebar-heading">Types de citation</h6>
      <div class="btn-group-vertical col-12">
        {% include "html/filtersQuotes.html" %}
      </div>

      <h6 class="sidebar-heading">
        <span>Types de commentaire</span>
      </h6>
      <div class="btn-group-vertical col-12">
        {% include "html/filtersCommentaries.html" %}
      </div>

      <h6 id="share-filters" class="sidebar-heading">
        <span>Partager les filtres</span>
        <button id="share-filters" onclick="filter.save()" data-clipboard-target="" type="button" class="btn btn-sm btn-secondary">
          <i class="fa fa-share" aria-hidden="true"></i>
        </button>
      </h6>

      <h6 id="help-wrapper" class="sidebar-heading">
        <span>Aide</span>
        <button id="#help" type="button" data-toggle="modal" data-target="#help-modale" class="btn btn-sm btn-secondary">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
      </h6>
	</ul>
</div>
</nav>{% include "help.html.twig" %}
