{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Visualisation Mirador{% endblock %}

{% block content %}
<div class="container-fluid">

    <div 
        class = "mirador-calling-container"
        id="manifest-uri"
        data-uri="data/manifest/tacitus-online-manifest.json?version=20240402"
       >
    </div> 

    <div class="comment card mirador-copyright-footer">
        <div class="card-header">                  
                <span>Facsimilés gracieusement mis à disposition par la Bibliothèque Municipale de Lyon (<a href="https://catalogue.bm-lyon.fr/ark:/75584/pf0001805614.locale=fr">BmL 23955</a> <i class="fa fa-external-link" aria-hidden="true"></i> )</span>
                <span><i class="fa fa-info-circle" aria-hidden="true"></i><a href="index.php?page=edition"> Plus d'information sur l'édition</a></span>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i> <a href="data/manifest/tacitus-online-manifest.json">Manifeste IIIF</a> </span>
                <span><i class="fa fa-external-link" aria-hidden="true"></i> <a href="https://nakala.fr/collection/10.34847/nkl.fbe7ov2k#">Ensemble des images sur Nakala</a> </span>
        </div>
    </div>

</div>

{% endblock %}
{% block footer %}
<script src="js/evenmorefilter.js"></script>
<script src="js/mirador/mirador.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/mirador/mirador-call.js"></script>

<style>
#main-container {
  padding-bottom: 0px;
}
</style>

{% endblock %}
