{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Manuel{% endblock %}

{% block content %}
<div class="container-fluid manual">
  <div class="row">
    <div id="main-container" class="col-10 offset-md-2 offset-lg-2 offset-xl-2 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block d-lg-block d-xl-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#prologue">
                Avant-propos
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#project">
                Le projet Tacitus On Line
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#vocabulary">
                Vocabulaire du projet
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#xml">
                Le XML
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#xml_tags">
                Le XML - Balises
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#xml_tree">
                Le XML - Arborescence
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#xml_attributes">
                Le XML - Attributs
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#xml_well-formed">
                Le XML - "bien formé"
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#tei">
                La TEI
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#oxygen">
                Oxygen
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#oxygen_how-to">
                Oxygen - Comment faire pour...
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#oxygen_valid-document">
                Oxygen - Document valide
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#encoding">
                Encoder pour Tacitus On Line
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#encoding_steps">
                Encoder - Marche à suivre
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#file">
                Organisation du fichier
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#transcription">
                Transcription des commentaires
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#transcription_example">
                Exemple d'une transcription d'un commentaire
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#transcription_latin">
                Règles de transcription du latin
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#transcription_do-not-encode">
                Ce qu'il ne faut pas encoder
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#tags_structure">
                Structure - Balises et attributs
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#tags_citation">
                Citation - Balises et attributs
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#tags_annotation">
                Annotation - Balises et attributs
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#att_xmlid">
                Valeurs de l'attribut <i>xml:id</i>
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#authors">
                Liste des auteurs (attributs <i>who</i> et <i>resp</i>)
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#example">
                Exemple d'un commentaire transcrit
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#final-steps">
                Dernières étapes
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#faq">
                Foire aux questions
              </a>
            </h6>
          </li>
          <li class="nav-item">
            <h6>
              <a class="nav-link" href="?page=manual#fae">
                Foire aux erreurs
              </a>
            </h6>
          </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1>Manuel d'encodage pour la transcription</h1>
          <br>
          <!--<script language="javascript">
            months = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
            var d = new Date();
            (d.getFullYear());
            var theDate = new Date(document.lastModified);
            with (theDate) {document.write("<i>Dernière mise à jour : "+getDate()+' '+months[getMonth()]+' '+getFullYear()+"</i><br>")}
          </script> Donne systématiquement la date du jour... -->
          <br>
          <div id="prologue" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/prologue.html" %}
            </div>
          </div>
          <div id="project" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/project.html" %}
            </div>
          </div>
          <div id="vocabulary" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/vocabulary.html" %}
            </div>
          </div>
          <div id="xml" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/xml.html" %}
            </div>
          </div>
          <div id="xml_tags" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/xml_tags.html" %}
            </div>
          </div>
          <div id="xml_tree" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/xml_tree.html" %}
            </div>
          </div>
          <div id="xml_attributes" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/xml_attributes.html" %}
            </div>
          </div>
          <div id="xml_well-formed" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/xml_well-formed.html" %}
            </div>
          </div>
          <div id="tei" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/tei.html" %}
            </div>
          </div>
          <div id="oxygen" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/oxygen.html" %}
            </div>
          </div>
          <div id="oxygen_how-to" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/oxygen_how-to.html" %}
            </div>
          </div>
          <div id="oxygen_valid-document" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/oxygen_valid-document.html" %}
            </div>
          </div>
          <div id="encoding" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/encoding.html" %}
            </div>
          </div>
          <div id="encoding_steps" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/encoding_steps.html" %}
            </div>
          </div>
          <div id="file" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/file.html" %}
            </div>
          </div>
          <div id="transcription" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/transcription.html" %}
            </div>
          </div>
          <div id="transcription_example" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/transcription_example.html" %}
            </div>
          </div>
          <div id="transcription_latin" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/transcription_latin.html" %}
            </div>
          </div>
          <div id="transcription_do-not-encode" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/transcription_do-not-encode.html" %}
            </div>
          </div>
          <div id="tags_structure" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/tags_structure.html" %}
            </div>
          </div>
          <div id="tags_citation" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/tags_citation.html" %}
            </div>
          </div>
          <div id="tags_annotation" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/tags_annotation.html" %}
            </div>
          </div>
          <div id="att_xmlid" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/att_xmlid.html" %}
            </div>
          </div>
          <div id="authors" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/authors.html" %}
            </div>
          </div>
          <div id="example" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/example.html" %}
            </div>
          </div>
          <div id="final-steps" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/final-steps.html" %}
            </div>
          </div>
          <div id="faq" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/faq.html" %}
            </div>
          </div>
          <div id="fae" class="row anchor">
            <div class="section col-12">
              {% include "html/manual/fae.html" %}
            </div>
          </div>
          <hr>
          <p>
            Accéder à la <a href="doc/manuel_encodage.pdf">version PDF</a> de ce manuel (<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <i>dernière mise à jour janvier 2020</i>).
          </p>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}

{% block footer %}
{% endblock %}
